.jus-banner {
  margin-top: 50px;
  background-image: url(./images/banner.png);
  width: 100%;
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.jus-banner-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.518);
}
.jus-banner-text div {
  width: 50%;
}
.jus-banner-text div h1 {
  font-size: 4rem;
}
